<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h4>{{now}}</h4>
        <h5>{{ reversedMessage }}</h5>
        <h6>{{ reversedMessage2() }}</h6>
        <input type="checkbox" v-model='checkAll' />全选
        <p>
            <input type="checkbox" v-for="(item,key) in checks" v-model="item.value" :key="key">
        </p>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        //对于任何复杂逻辑，你都应当使用计算属性。
        //计算属性是基于它们的响应式依赖进行缓存的。和方法的区别只有数据变化的时候才重新执行，而方法每次都重新执行
        //watch擅长处理的场景：一个数据影响多个数据
        //computed擅长处理的场景：一个数据受多个数据影响
        //methods不处理数据逻辑关系，只提供可调用的函数
        let vm = new Vue({
            el: '#app',
            data: {
                message: 'new world',
                checks: [{
                    value: true
                }, {
                    value: false
                }, {
                    value: false
                }]
            },
            computed: {
                reversedMessage() {
                    //this指向vm实例
                    return this.message.split('').reverse().join('')
                },
                checkAll: {
                    get() {
                        return this.checks.every(check => check.value);
                    },
                    set(value) {
                        this.checks.forEach(element => {
                            element.value = value;
                        });
                    }
                },
                now(){
                    return Date.now()
                }
            },
            methods: {
                reversedMessage2(){
                    return this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</body>

</html>